name: Node.js CD
on:
  push:
    branches: [master, feature/push-notifications]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS using ssh
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          run: cd ~/apps/samchat/SamChatServer && git pull origin master && npm install --only=prod && npm run build --if-present && pm2 restart samchatserver
